.video-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 (9 / 16 * 100) */
  }
  
  .video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .buttons-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  