@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.divHover .phover{
    display: none;
}

.divHover:hover p{
    display: block;
}

.phover{
    height: 1.5rem;
    display: flex;
    justify-items: center;
    text-align: center;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
}

span button{
    display: none;
}

span:hover button{
    display: block;
}


.buttondown{
    display: block;
}
